.section
  .container
    h1.is-size-1 Register
    .columns
      .column.is-one-third-tablet.is-one-quarter-desktop
        .field
          label.label Username
          .control
            input.input(type="name")
        .field
          label.label Email
          .control
            input.input(type="email")
        .field
          label.label Password
          .control
            input.input(type="password")
        .field
          button.button.is-primary.is-pulled-right(type="submit") Register